@-webkit-keyframes pulse {
  from { .opacity(0.2); }
  to { .opacity(0.3); }
}
@keyframes pulse {
  from { .opacity(0.2); }
  to { .opacity(0.3); }
}


.mz-checkout-mask {
  position: absolute;
  background-color: @textColor;
  .opacity(0);
  .animation(pulse, 0.5s, 0s, linear, alternate, infinite);
}

.mz-checkoutform-comments-field {
    width: 100%;
    height: 8em;
}

.mz-checkoutform {
    box-sizing: border-box;

    label {
      cursor: default;
    }
    a {
      cursor: pointer;
    }
    .mz-checkout-button-link {
      padding: 3px;
      border: 1px solid #ccc;
      color: #666;
      background-color: #f7f7f7;
      cursor: pointer;
      margin: @gutter/4;
    }
    .mz-checkout-button-link:hover{
      border: 1px solid #999;
      color: black;
    }
    
    input[type="checkbox"],
    input[type="radio"] {
        left: -9999rem;
        opacity: 0;
    }
    .form-row {
        .two-rows-checkbox {
            padding-top: 0;
            font-size: 1.25rem;
            line-height: 1.5em !important;
    
            strong {
                font-weight: 500;
            }
    
            &:after {
                top: 18px;
            } 
            &:before {
                top: 20px;
                left: 3px;
                line-height: 18px;
                width: 18px;
                font-size: 1.1rem;
            }
        }

        .terms-conditions-label {
            font-size: 1.25rem;

            &:before {
                font-size: 1.1rem;
            }
        }
    }

    &.mz-create-account-fields {
        p {
            font-size: 1.25rem;
            line-height: 1.5em;

            strong {
                font-weight: 500;
            }
        }
    }
}

.mz-checkoutform-shipping {
    display: block;
}


.is-loading select {
    background-image: url('../resources/images/button-loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: rgba(0, 0, 0, .25);
}

.mz-checkoutform-shipping-edit {
    padding: @gutter/4 @gutter/4 @gutter/4 @gutter/4;
    .mz-shipping-row {
      margin: @gutter/4;
      display: flex;
      flex-wrap: wrap;
      .mz-shipping-row-item{
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
    }

}

.mz-l-formfieldgroup-cell {
    > .mz-contactselector {
        width: 100%;
    }
}

.mz-formstep-body {
    > .mz-formstep-edit {
        float: right;
        top: @gutter/4;
        position: relative;
    }
}

.mz-checkoutform-title {
    margin: 0 0 @gutter/4;
    padding: 0 0 @gutter/8;
    font-size: @fontSizeLarger;
    border-bottom: none;
    font-weight: bold;
}

.mz-shipping-method-address{
  width: 100%;
  display: flex;
    .mz-l-formfieldgroup-cell {
      flex-grow: 1;
      margin-left: @gutter;
      padding: @gutter/4 0px @gutter/4 0px;

    }

}

.mz-shipping-method-items {
  div {
    margin-left: @gutter;
  }
  span {
    padding: @gutter/4;
  }
}
.mz-shipping-method-section {
  margin: @gutter/2;
}

.mz-l-formfieldgroup {

    .mz-payment-select-saved-payments {
        width: 260px;
        margin-top: @gutter/4;
    }

    .mz-paymenttypes {
        .mz-paymenttype {
            text-align: left;
            margin: 4px 0;
        }

        input {
            display: inline-block;
            vertical-align: middle;
        }

        .mz-paymenttype-label {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.mz-checkoutform-shippingaddress, .mz-contact-dialog {
    .mz-checkoutform-header{
        margin-bottom: 0px;
    }
    .mz-addresssummary{
        margin-top: 8px;
        span{
            padding-top: 5px;
            display: block;
        }
    }
    .mz-l-formfieldgroup-row {
        display: block;
    }
    .mz-l-formfieldgroup-cell{
        display: block;
        padding-bottom: 0px;
        margin-bottom: 9px;
        .mz-contactselector{
            background-color: @colorWhite;
        }
        label{
            text-align: left;
            font-size: @fontSize;
        }
        input[type="text"], input{
            width: 240px;
            border: 1px solid @inputBorder;
        }
        .text-input, select{
            width: 240px;
            background-color: @colorWhite;
            .border-radius-plain(0);
        }
    }
    .mz-contactselector{
        .mz-contactselector-contact{
            display: block;
        }
    } 
}
.mz-checkoutform-paymentinfo{
    .mz-l-formfieldgroup-row{
        display: block;
        &.mz-payment-credit-card-savepayment-row{
            margin-left: 0px;
        }
        .mz-l-formfieldgroup-cell{
            display: block;
            label{
                &.mz-inline{
                    display: inline-block;
                    font-size: @fontSize;
                    .fontRegular();
                    margin-left: 3px;
                }
            }
            
            input[type="text"]{
                width: 240px;
                border: 1px solid @inputBorder;
            }
            .text-input, #mz-payment-credit-card-type{
                width: 240px;
                background-color: @colorWhite;
            }
            .mz-l-formfieldgroup-halfsize{
                width: 114px;
                background-color: @colorWhite;
            }
            select {
                background-color: @colorWhite;
                margin-bottom: 3px;
            }
        }
    }
    .mz-checkout-digitalcredit{
        .mz-l-formfieldgroup-cell{
            input[type="text"]{
                width: 240px;
                border: 1px solid @inputBorder;
                margin-bottom: 0px;
            }
        }
    }
    &.is-loading{
        .mz-checkout-digitalcredit{
            .mz-l-formfieldgroup-cell{
                .mz-button{
                    background-image: none;
                    animation: none;
                    background-size: 0;
                    opacity: 0.5;
                }
            }
        }
    }
    .mz-formstep-next{
        margin-top:16rem;
    }
}
.mz-l-formfieldgroup-full{
      display: block;
}

/* new checkout styles */

.mz-checkout #page-content {
    margin-top: 9.28rem;
}
.checkout-signin-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 3.9375rem;
    padding-bottom: 1.25rem;

    .secondary-button {
        .primary-btn(@mutedBlue);

        font-size: 1rem;
        line-height: 2.5rem;
        height: 2.8125rem;
        padding: 0 4.6875rem;
        cursor: pointer;
    }
    span {
        font-size: 1rem;
        line-height: 2.8125rem;
        height: 2.8125rem;
        margin-left: 2rem;
    }
}
.mz-checkoutform {
    clear: both;
}

#checkout-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;

    &:after {
        display: none;
    }
    
    .mz-messagebar {
        width: 100%;
    }

    h5 {
        margin: 0 0 3.5625rem;
        font-weight: 500;
    }

    .ordersummary-column {
        width: 32rem;
        padding-top: 1.95rem;
    }
    .checkout-leftcolumn {
        width: 61.375rem;
    }
    
    .mz-checkoutform-header {
        padding: 0 0 1.375rem;
        margin: 0 0 3.9375rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.1875rem solid @midGray;

        span {
            font-size: 3.4375rem;
            font-weight: 500;
            line-height: 1.3636em;
        }
        a {
            font-size: 1.5rem;
            text-decoration: none;
            position: static;

            &:hover {
                text-decoration: underline;
            }
        }
        &.checkout-fields-title {
            width: 100%;
            border: 0px;
            color: @charcoal;
            margin: 0;
            span {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 1.25em;
            }
            a {
                font-size: 1.5rem;
                text-decoration: none;
                position: static;

                &:hover {
                    text-decoration: underline;
                }
            }
            .mz-formstep-summary{
                display: flex;
            }
        }
    }
    .checkout-leftcolumn {
        .mz-formstep.mz-checkoutform-paymentinfo {
            margin-bottom: 13rem ;
            position: relative;

            #btn_xpressPaypal {
                min-width:320px;  
                height:auto; 
                margin:0 auto; 
                position: absolute; 
                bottom: -10rem;
                left: ~'calc((100% - 320px) / 2)'; 
                left: ~'-webkit-calc((100% - 320px) / 2)';
                left: ~'-moz-calc((100% - 320px) / 2)';
                /*@media (max-width: 800px) {
                    bottom: -8rem;
                } */
            }
        }
    }
    .mz-checkout-payment-change {
        font-size: 1.5rem;
        text-decoration: none;
        position: static;
        text-transform: capitalize;

        &:hover {
            text-decoration: underline;
        }
    }
    
    input[type="text"],
    input[type="tel"],
    input[type="password"] {
        width: 100%;
        height: 4.375rem;
        border: 0.1875rem solid @charcoal;

        &::-webkit-input-placeholder {text-transform: uppercase;}
        &::-moz-placeholder          {text-transform: uppercase;}/* Firefox 19+ */
        &:-moz-placeholder           {text-transform: uppercase;}/* Firefox 18- */
        &:-ms-input-placeholder      {text-transform: uppercase;}
    }
    .mz-l-formfieldgroup-cell {
        padding: 0;
        margin: 0;
    }
    .form-row {
        padding: 0 0 3rem;
        position: relative;
    }

    .checkout-twocolumn-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        
        @media (max-width: 800px) {
            justify-content: initial;
        }
        
        .mz-addressform-firstname,
        .mz-addressform-lastname,
        .mz-addressform-city,
        .mz-addressform-state {
            width: calc(50% - 0.75rem);
            position: relative;

            @media (max-width: 800px) {
                width: 100%;
            }

            .mz-validationmessage {
                position: absolute;
            }
        }
        .mz-addressform-state{
            .custom-select-wrapper {    
                .dropdown-toggle{
                    .filter-option{
                        .filter-option-inner{
                            .filter-option-inner-inner{
                                max-width: 200px;
                                text-overflow: ellipsis;
                            }
                        }
                    } 
                } 
            }
        }
        .mz-addressform-firstname,
        .mz-addressform-city {
            @media (max-width: 800px) {
                padding: 0 0 3rem;
            }
        }
    }

    .mz-payment-credit-card-expiration-row {
        .checkout-twocolumn-row {
            .custom-select-wrapper {
                width: calc(49.25%);

                @media (max-width: 800px) {
                    width: 100%;
                }
                &:first-child {
                    @media (max-width: 800px) {
                        padding: 0 0 3rem;
                    }
                }
            }

        }
    }
    
    .primary-btn {
        padding: 0 8.125rem;
    }

    .mz-formstep-next {
        display: flex;
        justify-content: center;
    }
    
    .mz-ordersummary-checkout {
        .mz-checkoutform-header {
            font-size: 1.875rem;
            line-height: 1.5333em;
            padding-bottom: 1.125rem;
            @media (max-width: 800px) {
                border: 0;

                padding: 0 1.25rem;
                margin: 0;
            }
        }

        .mz-formstep-next {
            justify-content: flex-start;

            button {
                padding: 0;
                width: 100%;
                justify-content: center;
            }
        }

        .order-summary-promo,
        .order-summary-privacyPolicy {
            text-align: center;

            p {
                font-size: 1.25rem;
                line-height: 1.5em;

                a {
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .order-summary-promo {
            padding-top: 1.625rem;
            padding-bottom: 2rem;

            @media (max-width: 800px) {
                text-align: left;
            }
        }

        .order-summary-privacyPolicy {
            border-top: 0.125rem solid @midGray;
            margin-top: 3.125rem;
            padding-top: 0.625rem;
        }

        .mz-checkout-total-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .mz-ordersummary-totalname,
        .mz-ordersummary-totalvalue {
            color: @charcoal;
        }

        .mz-ordersummary-grandtotal {
            .mz-ordersummary-totalname {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    input[type="radio"] + label {
        .icon (before, @icon-dot-single);
        
        font-family: @fontFamily !important;

        &:before, &:after{
            font-family: 'icomoon' !important;
        }
    }
    .mz-paymentselector {
        .mz-l-formfieldgroup-address {
            .checkout-twocolumn-row.checkout-customer-name.form-row {
                display: none;
            }
        }
    }

    .custom-select-wrapper {
        .bootstrap-select {
            width: 100%;
        }
        .dropdown-menu {
            overflow-x: hidden !important;
            border-radius: 0;
            top: 100%;
            margin: 0;
            min-height: 300px !important;
        }
        .dropdown-toggle {
            text-align: center;
            height: 4.375rem;
            line-height: 1em;

            &:before {
                display: none;
            }
            .filter-option {
                position: static;
                height: auto;
                width: auto;
                text-align: center;
                display: inline;
                padding: 0;

                .filter-option-inner,
                .filter-option-inner-inner {
                    display: inline-block;
                }
            }
            .caret {
                display: none;
            }
        }
        .dropdown-menu>li>a:hover {
            background: @lightGray;
            color: @charcoal;
        }
        .dropdown-menu>.active>a {
            background: @mutedBlue;

            &:hover {
                background: @lightGray;
                color: @charcoal;
            }
        }
    }
    .mz-checkoutform-disabled {
        h5 {
            color: @charcoal;
            opacity: 0.5;
        }
        input {
            background: @white;
            border-color: @charcoal;
            color: @charcoal;
            opacity: 0.5;
        }
    }

    .ordersummary-column,
    .checkout-leftcolumn {
        @media (max-width: 800px) {
            
            width: 100%;

            + .mz-l-column {
                padding-right: 0;
            }
        }

        .checkout-twocolumn-row {
            
        }
    }
    .ordersummary-column {
        @media (max-width: 800px) {
            order: 1;
        }
    }
    .checkout-leftcolumn {
        @media (max-width: 800px) {
            order: 0;
        }
    }

    button {
        @media (max-width: 800px) {
            border-radius: 0;
        }
    }

    .mz-formstep-edit{
        @media (max-width: 800px) {
            //display: none;
        }
    }
}

#checkout-form .checkout-leftcolumn .mz-formstep {
    margin-bottom: 6.25rem;
    float: none;
    &.is-partial{
        .mz-formstep-edit{
            display:none;
        }
    }
    &.is-complete{
        .mz-formstep-body{
            display:block;
        }
        .icon-check{
            opacity:0.5;
        }
        .special-offers-subscription,
        .mz-formstep-next{
            display:none !important;
        }
    }
    &.is-current{
        .mz-formstep-body{
            display:block;
        }        
        .mz-addresssummary{
            display:none;
        }
    }
    &.mz-checkoutform-review.is-current,
    &.mz-checkoutform-shippingmethod.is-complete,
    &.mz-checkoutform-shippingmethod.is-current{
        display:block;
    }
    &.mz-checkoutform-review,
    &.mz-checkoutform-shippingmethod,
    .mz-formstep-body{
        display:none;
    }
}

.checkout-fields-title {
    width: 100%;
    color: @charcoal;
}
.mz-l-formfieldgroup-row.mz-addressform-addresstype.form-row,
.mz-l-formfieldgroup-row.mz-addressform-country.form-row {
    display: none;
}

.shipping-method-wrapper {
    .form-row {
        label {
            width: 36.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            strong,
            span {
                font-weight: 500;
            }
        }
        input[type="checkbox"],
        input[type="radio"] {
            left: -9999rem;
            opacity: 0;
        }
    }
}

.custom-select-wrapper {
    position: relative;

    button {
        width: 100%;
        height: 4.375rem;
        line-height: 1em;
    }
}

.checkout-paypal {
    padding-bottom: 2rem;

    img {
        display: block;
        margin: 2.3125rem auto 0;
    }
}

.checkout-create-account {
    border-top: 0.1875rem solid @midGray;
    padding-top: 4.1875rem !important;

    &.form-row {
        input[type="checkbox"]+label {
            font-size: 1.25rem;
            line-height: 1.5em;

            &:after {
                top: 23px;
            }
            &:before {
                font-size: 1em;
                top: 19px;
                left: 2px;
            }
        }
    }
}
#coupon-code-field{
    position: relative;
    top: -35rem;
    .coupon-code-wrapper {
        #coupon-code{
            width:62%;
            @media (max-width: 992px) {
                width:60%;
            }
        }
        .primary-btn {
            height: 4.375rem;
            line-height: normal;
        }
    }
    &.is-complete{
        top: -13rem;
        opacity: 0.5;
    }
}



.filled-credit-card-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    img {
        display: block;
        margin-right: 2rem;
    }

    .card-info {
        display: flex;
        flex-direction: column;

        span {
            font-size: 1.485rem;
            line-height: 1.5em;
        }
    }
}

.mz-checkoutform-couponcode {
    margin-bottom: 4rem;

    .coupon-code-wrapper {
        margin-bottom: 1rem !important;
    }

    .btn-add-promo-code {
        text-decoration: none;
        font-size: 1.25rem;
        line-height: 1em;
        font-weight: 500;
        float: left;
        clear: both;
    }
}

.mz-paymentselector-label-savedcreditcard,
.mz-paymentselector-label-newcreditcard {
    strong {
        font-weight: 500;
    }
}

.paymentselector-savedcreditcard-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-option-inner-inner {
        white-space: normal;
        padding-left: 2.875rem;
    }
    
    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }
}

.contactselector-savedcontact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 800px) {
        flex-wrap: wrap;
    }

    .secondary-button {
        .primary-btn(@mutedBlue);
    
        font-size: 1rem;
        line-height: 2.5rem;
        height: 2.8125rem;
        white-space: nowrap;
        padding: 0 1.6875rem;
        cursor: pointer;

        @media (max-width: 800px) {
            margin-top: 2rem;
        }
    }

    .filter-option-inner-inner {
        white-space: normal;
        padding-left: 2.875rem;
    }

    .custom-select-wrapper {
        width: 70%;

        @media (max-width: 800px) {
            width: 100%;
        }
    }
    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }
}
