.mz-myaccount {
    .mz-myaccount-panels {
        margin-left: 200px;
    }

    .mz-myaccount-nav {
        width: 200px;
        box-sizing: border-box;
    }

    .mz-contacttype-isprimary {
        font-size: @fontSizeSmall;
        font-style: italic;
        display: block;
        margin-top: 3px;
        text-indent: @gutter;
    }

    @media (max-width: 600px) {
        .mz-myaccount-panels {
            margin-left: 0;
        }

        .mz-myaccount-nav {
            float: none;
            width: auto;
            margin-bottom: @gutter;
            .clearfix();

            .mz-scrollnav-item {
                float: left;
                margin: @gutter/4;
            }
        }
    }

    .mz-l-stack-section {
        min-height: inherit;
    }

    #account-settings {
        clear: none;
        /*
        .mz-link-edit-accountsettings {
            float: none;
            line-height: inherit;
        }

        .mz-accountsettings-label {
            display: block;
            color: #999;
            font-size: 80%;
        }
        */
    }
    

    .mz-orderlisting {

        .mz-orderlisting-detail {
            overflow: auto;
        }

        .mz-orderlisting-attribute {
            margin-bottom: @gutter/2;

            span {
                font-weight: bold;
            }
        }
        
    }

    #mz-printReturnLabelView {
        display: none;
    }
}

.mz-anonymous-account {
    #mz-printReturnLabelView {
        display: none;
    }
}
.mz-myaccount-panels {
    .custom-select-wrapper {
        .bootstrap-select {
            width: 100%;
        }
        .dropdown-menu {
            overflow-x: hidden !important;
        }
        .dropdown-toggle {
            height: 4rem;
            line-height: 1em;
            border-width: 2px;
            text-align: left;
            margin-top: 0.5rem; 
            padding: 0 0 0 2rem;
            display: flex;
            justify-content: space-between;
    
            &:before {
                display: none;
            }
            .filter-option {
                position: static;
                height: auto;
                width: auto;
                text-align: center;
                display: inline;
                padding: 0;
    
                .filter-option-inner,
                .filter-option-inner-inner {
                    display: inline;
                }
            }
            .caret {
                display: none;
            }
        }
        .dropdown-menu>li>a:hover {
            background: none;
        }
    }
}
