<div id="newsletter-form" class="newsletter-form" style="display:none;">
    <!-- Begin Constant Contact Inline Form Code -->
    <div class="ctct-inline-form" data-form-id="78b6f879-db07-4bfc-a598-704e328ec8c5"></div>
    <!-- End Constant Contact Inline Form Code -->
    <label class="required-fields"><span>*</span>- Required Field</label>
</div>
<script type="text/javascript" charset="utf-8">
    window.onload = function(){

	    var onlyOnce = true;
        var config = {attributes: true,
                    childList: true,
                    characterData: true };
        var observer = new MutationObserver(function(mutations) {
            if (jQuery("#newsletter-form").has(jQuery('.ctct-form-element')).length && onlyOnce) {

                jQuery('#first_name_0').prop('placeholder','First name *');
                jQuery('#last_name_0').prop('placeholder','Last name *');
                jQuery('#email_address_0').prop('placeholder','Email Address *');

                jQuery('#email_address_field_0').insertAfter(jQuery('#last_name_field_0'));
                jQuery('#custom_field_string_user_type_field_0').insertAfter(jQuery('#email_address_field_0'));
                jQuery('#custom_field_string_user_type_0').prop("type",'hidden');
                jQuery('<input />', { class: 'input_usertype', name:'input_usertype', type:'checkbox', id: 'type_advisor', value: 'Advisor' }).appendTo(jQuery('#custom_field_string_user_type_field_0'));
                jQuery('<label />', { 'for': 'type_advisor', text: 'Advisor' }).appendTo(jQuery('#custom_field_string_user_type_field_0'));
                jQuery('<input />', { class: 'input_usertype', name:'input_usertype', type:'checkbox', id: 'type_consumer', value: 'Consumer' }).appendTo(jQuery('#custom_field_string_user_type_field_0'));
                jQuery('<label />', { 'for': 'type_consumer', text: 'Consumer' }).appendTo(jQuery('#custom_field_string_user_type_field_0'));

                jQuery('#custom_field_date_b-day_label_0').html('Birthday (must be 13 years of age or older) *');
                jQuery('#custom_field_date_b-day_month_0').addClass('input_age');
                jQuery('#custom_field_date_b-day_day_0').addClass('input_age');
                jQuery('#custom_field_date_b-day_year_0').addClass('input_age');

                jQuery('#custom_field_string_skin_type_label_0').html('Skin Type *');
                jQuery('#custom_field_string_skin_type_0').prop("type",'hidden');
                jQuery('<select />', {name:'input_skintype',
                                     id: 'input_skintype' }).appendTo(jQuery('#custom_field_string_skin_type_field_0'));
                jQuery('<option />', {value:'',
                                     text: 'Select your skin type' }).prop('disabled',true).prop('selected',true).appendTo(jQuery('#input_skintype'));
                jQuery('<option />', {value:'Normal Skin',
                                     text: 'Normal Skin' }).appendTo(jQuery('#input_skintype'));
                jQuery('<option />', {value:'Dry Skin',
                                     text: 'Dry Skin' }).appendTo(jQuery('#input_skintype'));
                jQuery('<option />', {value:'Oily Skin',
                                     text: 'Oily Skin' }).appendTo(jQuery('#input_skintype'));
                jQuery('<option />', {value:'Sensitive Skin',
                                     text: 'Sensitive Skin' }).appendTo(jQuery('#input_skintype'));
                jQuery('<div />', {class:'consumer-field',
                                   id: 'consumer-field' }).insertAfter(jQuery('#custom_field_string_skin_type_field_0'));
                jQuery('#consumer-field').html(jQuery('#custom_field_date_b-day_field_0'));
                jQuery('#custom_field_string_skin_type_field_0').insertAfter(jQuery('#custom_field_date_b-day_field_0'));
                jQuery('#newsletter-disclaimer').insertAfter(jQuery('#gdpr_text')).show();
                jQuery('#newsletter-form').show();

                jQuery(".input_usertype").change(function() {
                    jQuery(".input_usertype").removeClass('is-error').prop('checked', false);
                    jQuery(this).prop('checked', true);
                    jQuery('#custom_field_string_user_type_0').prop('value',jQuery(this).prop('value'));
                    if(jQuery('#type_consumer').prop('checked')){
                        jQuery('.ctct-form-button').prop('disabled',true);
                        jQuery('#consumer-field').show('slow');
                    }else{
                        jQuery('.ctct-form-button').prop('disabled',false);
                        jQuery('#consumer-field').hide('slow');
                    }
                });

                jQuery(".input_age").change(function() {
                    if(checkDate()){
                        jQuery('.ctct-form-button').prop('disabled',false);
                    }else{
                        jQuery('.ctct-form-button').prop('disabled',true);
                    }
                });

                jQuery("#input_skintype").change(function() {
                    jQuery('#custom_field_string_skin_type_0').prop('value',jQuery(this).prop('value'));
                });

		        onlyOnce = false;
            }
            if(jQuery('#success_message_0').is(':visible')){
        		jQuery('.required-fields').hide();
        		jQuery('#newsletter-disclaimer').hide();
        		jQuery('.newsletter-confirmation').hide();
        		observer.disconnect();
            }


//            if(jQuery('.is-error').length != 0)
//            {
//              jQuery('.ctct-form-button').prop('disabled',true);
//            }

//            if(jQuery('.is-error').length === 0)
//            {
//              jQuery('.ctct-form-button').prop('disabled',false);
//            }

        });
        observer.observe(document.body, config);
    };

    function checkDate() {

        jQuery(".input_age").removeClass('is-error');

        var month = jQuery('#custom_field_date_b-day_month_0').val();
        if(month == "") return false;

        var day = jQuery('#custom_field_date_b-day_day_0').val();
        if(day == "") return false;

        var year = jQuery('#custom_field_date_b-day_year_0').val();
        if(year == "") return false;

        var fieldsDate = month+'/'+day+'/'+year;
        date = Date.parse(fieldsDate);

        var today = new Date();
        if (today <= date){
            jQuery(".input_age").addClass('is-error');
            return false;
        }

        var diff = (((((today - date) / 1000) / 60) / 60) / 24)/365;
        if(diff < 13){
            jQuery(".input_age").addClass('is-error');
            return false;
        }

        return true;
    }

</script>
<!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "e1a2d361e295b4067e4ab11321bbc9b9"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->
