@media (min-width: 992px) {
    //Start
    //Header
    #nav-header-container{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2010;
        &.sticky-nav {
            .mz-pageheader {
                height: 5.8rem;
                .ml-header-content {
                    height: 5.8rem;
                    .ml-header-logo-wrapper {
                        .logo {
                            height: 2.3rem;
                            width: 20rem;
                            &:after {
                                content: '';
                            }
                        }
                    }
                }
            }
            .mz-sitenav {
                top: 2rem;
            }
        }
    }
    .mz-pageheader {
        .ml-header-content {
            .ml-header-search-wrapper {
                font-size: 2.5rem;
                right: 8%;
                width: 26%;
                top: 50%;
                #searchbox{
                    input{
                        &.tt-hint{
                            border: 0;
                        }
                    }
                    .search-button{
                        width: 0;
                        top: 0.8rem;
                    }
                }
            }

            .ml-header-global-cart-wrapper {
                position: absolute;
                top: auto;
                right: 2px;
                bottom: 15px;
                left: auto;
                background: inherit;
                border: 0;
                padding: 2px 0 5px 5px;
	            .ml-header-global-cart-label {
                    display: inline-block;
                    font-weight: bold;
                    padding-bottom: 5px;
	            }
            }

            .ml-header-links-wrapper {
                .mz-utilitynav-item{
                    padding: 0 0px 0 15px;
                    &.site-msg{
                        display:inherit;
                    }
                    &.navbar-collapse-control{
                        display: none;
                    }
                    .popover{
                        top: -10px;
                        .popover-content{
                            .my-account-details{
                                a{
                                    p{display: block; }
                                }
                            }
                        }
                    }
                    &.store-locator{
                        i{
                            font-size: 3.3rem;
                        }
                    }
                }
            }
            .ml-header-lang-wrapper {
                right: -2%;
                select{
                    width: 4rem;
                }
            }

        }
    }
    //Navigation
    .mz-sitenav {
        position: fixed;
        top: 3.5rem;
        height: 34px!important;
        background: transparent;
        border-bottom: none;
        display: block;
        .mz-sitenav-sub-container{
            display: block;
            .sub-level-image, .sub-level-col {
                width: 175px;
                min-width: 175px;
                h2{
                    font-size: 18px;
                    margin-top: 0px;
                }
                a{
                    font-weight: normal;
                }
            }
            .mz-sitenav-link {
                padding: 2px 0;
            }
        }
        .mz-sitenav-item {
            float: left;
            white-space: nowrap;
            display: inline-block;
            padding: 0;
            border-bottom: 0;
            &.mz-sitenav-item-more{
                display:block;
            }
            &:hover{
                .arrow-up {
                    display:block;
                }
            }
            .mz-sitenav-item {
                width: 100%;
                >.mz-sitenav-link{
                    text-transform: uppercase;
                }
            }
        }
        .mz-sitenav-link {
            float: none;
            font-size: 13px;
            padding: 8px 0;
            color: #363636;
            font-weight: bold;
            &:visited {
                color: #363636;
            }
            &.is-current {
                background-color: inherit;
            }
        }

        .mz-sitenav-list {
            >.mz-sitenav-item {
                text-align: center;
                width: 13%;
                .mz-sitenav-item {
                    text-transform: uppercase;
                }
                &:nth-of-type(1) {
                    margin-left: 5%;
                }
                &:nth-of-type(3) {
                    margin-right: 33%;
                }
                &:nth-of-type(5) {

                }
                &:nth-of-type(7) {
                    width: 10%;
                }
            }
        }
    }

    #page-content{
        margin-top: 9rem;
        &.sticky-nav-present{
            margin-top: 5.8rem;
        }

    }

    //Footer
    .mz-pagefooter {
	    &.ml-global-footer{
	        .container-fluid {
                margin-left: 8.7%;
                margin-right: 5.8%;
            }
	    }
    }
    footer {
        .container-fluid {
            margin-left: 9.3rem;
            margin-right: 3.75rem;
        }
        .mz-pagefooter-copyright {
            margin-right: 4rem;
        }
    }

    .filer-options{
        li{
            font-size: 1.2rem;
            color: #303030;
            margin-bottom: 5px;
            padding: 5px 8px 2px 10px;
            background: #f1f1f1;
            min-width: 75px;
            margin-right: 10px;
            i{
                font-size: 1rem;
                color: #303030;
                margin-left: 5px;
                margin-top: 3px;
                cursor: pointer;
                float: right;
            }
        }
    }
    .selected-filter{
        float: left;
        width: 100%;
        display: block;

        .btn-transparent{
            margin: 16px 0 5px 0;
            color: #303030;
        }
    }

    // Common to both List and Grid View
        .mz-productlisting-image {
            position: relative;
            button.quick-view-btn {
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                opacity: 0.9;
                text-transform: uppercase;
                width: 100%;
                display: none;
                border:0;
                span {
                    opacity: 1;
                    font-size: @fontSize;
                    text-align: center;
                    line-height: normal;
                    color: @colorGray;
                }
            }
            &:hover {
                button.quick-view-btn {
                    display: block;
                }
            }
        }
    // Product Directory
    .mz-productlist {
        // Grid View
        .grid-view {
            .mz-productlist-item {
                .mz-productlisting-image {
                    .mz-productlisting-imageplaceholder, img {
                        max-height: 265px;
                        >.mz-productlisting-imageplaceholdertext {
                            line-height: 265px;
                        }
                    }
                }
            }
        }
        //List View
        .list-view{
            .product-image-swatch-wrapper {
                max-width: 265px;
                img,
                .mz-productlisting-image{
                    img,
                    .mz-productlisting-imageplaceholder {
                        max-height: 265px;
                        >.mz-productlisting-imageplaceholdertext {
                            line-height: 265px;
                        }
                    }
                }
            }
            li.mz-productlist-item{
                min-height: 320px;
            }
            .ml-product-info-wrapper,
            .ml-product-price-wrapper{
                display: block;
                float: left;
            }
        }
        // Common to both List and Grid View
        .mz-productlisting-image {
            position: relative;
            button.quick-view-btn {
                left: 0;
                right: 0;
                bottom: 0;
                height: 30px;
                position: absolute;
                opacity: 0.9;
                text-transform: uppercase;
                width: 100%;
                display: none;
                border: 0;
                span {
                    opacity: 1;
                    font-size: @fontSize;
                    text-align: center;
                    line-height: normal;
                    color: @colorGray;
                }
            }
            &:hover {
                button.quick-view-btn {
                    display: block;
                }
            }
        }
    }
    .mz-productdetail{
        .mz-price{
            font-size: @fontSizeLarge + 10px;
        }
    }
    .mz-productdetail-wrap {
        #product-detail{
            .mz-l-stack-section{
                &.mz-productdetail-price {
                    margin-top: 20px;
                }
            }
            .email-popup{
                #mz-drop-zone-email-notification{
                    .mz-cms-content{
                        .mz-instock-request {
                            .modal-body {
                                button {
                                    line-height: 19px;
                                    margin-top: -3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //Category Page
     .ml-product-swatch {
        .mz-morecolor-container{
            clear: none;
        }
        ul{
            padding: 0 10px;
            li {
                margin-right: 8px;
                margin-bottom: 8px;
            }
        }
     }
     .mz-category{
     }
     .mz-l-carousel {
        .bx-wrapper {
            max-width: ({{themeSettings.productCarouselImageWidth}}px+40)*{{themeSettings.productCarouselSize}}!important;
        }
        ul#product-carousel-list {
            li {
                margin: 10px 19px!important;
            }
        }
    }
}