@media (min-width: 992px) {
    #global-cart {
        // top: -90px;
        // right: -30px;
        .sticky-nav & {
            right: -7rem;
            top: -3rem;
        }
        right: -3rem;
        top: -5rem;
        

        .view-cart-btn, .checkout-cart-btn {
            font-size: 1.5rem;
        }

    }

    h1, .h1 {
        font-size: 3.5rem;
    }

    h2, .h2 {
        font-size: 2.85rem;
    }

    h3, .h3 {
        font-size: 2.21rem;
    }

    .p1 {
        font-size: 1.7em;
    }

    .specialItalic {
        font-size: 1rem;
    }

    .primary-btn {
        font-size: 1.3rem;
        padding: 0 2.125rem;
        border-radius: 0;
    }

    .category-hero-module p {
        font-size: 1.75rem;
    }

    //Footer
    .mz-pagefooter {
	    &.ml-global-footer{
	        .container-fluid {
                margin-left: 8.7%;
                margin-right: 5.8%;
            }
	    }
    }
    footer {
        .container-fluid {
            margin-left: 9.3rem;
            margin-right: 3.75rem;
        }
        .mz-pagefooter-copyright {
            margin-right: 11rem;
        }
    }

    .facets-block{
        clear: both;
        >.facet-headers{
            float: right;
            margin-right: .5rem;

            ul{
                li{
                    width: auto;
                    font-size: .85rem;
                    height: 4.5rem;
                    line-height: 4.325rem;
                    i:before {
                      font-size: 2rem;
                    }
                }
                .first-tab{
                    display: none;
                }
            }
        }
        .filter-dropdown{
            li {
              font-size: .85rem;
            }
        }
        .tab-content{
            width:100%;
            position: relative;
            .mz-l-paginatedlist-header{
                position: absolute;
                right: 0.5rem;
                width: 17rem;
                top: 4.7rem;
                z-index: 99;
                .title-sortby-wrappper{
                    margin: 0;
                }
            }
            .mz-filter-mobile{
                opacity: 1;
                background: none;
            }
            #mz-drop-zone-sidebar-above-facets{
                display: none;
            }
            .pagesort-list{
                position: static;
                margin: 0;
            }
        }
        .facet-content{
            display: block !important;
            padding: 0;
        }
    }
    #filterOptions {
        margin-top: 0;
        .mz-l-sidebaritem {
            margin: 0;
            padding: 0;
            display: inline-block;
            &:first-child{
                padding-left: 0;
            }
            .dropdown-select{
                padding: 0 3.125rem 0 2.125rem;
                height: 4.5rem;
                line-height: 4.325rem;
                font-size: .85rem;
                i:before {
                  font-size: 2rem;
                }
                .dropdown-icon{
                    float: none;
                    margin: 0 .5rem 0 0.5rem;
                }

            }
            .dropdown-select-list{
                position: absolute;

                li {
                  label {
                    font-size: .85rem;
                  }
                }
            }
        }
    }
    .options-pos{
        background-color: transparent;
    }
    .filter{
        padding: 0;
        height: 0;
    }
    .filer-options{
        margin: 0 1rem 0.5rem 0;
        float: left;
        li{
            padding: 0.5rem 1rem;
            background: @colorLightGray;
            min-width: 75px;
            margin-right: 1rem;
            i{
                font-size: 1.5rem;
                margin-left: 1rem;
                cursor: pointer;
                float: right;
            }
        }
    }
    .mz-clear-btn-mobile{
        float: left;
        margin: 0;
        .mz-facetingform-clearall{
            margin-bottom: 0;
            padding: 0.6rem 0;
            i{
                font-size: 1.5rem;
            }
        }
    }
    .option-pos{
        background-color: transparent;
    }

    .selected-filter{
        float: left;
        width: 100%;
        display: block;

        .btn-transparent{
            margin: 16px 0 5px 0;
            color: #303030;
            i{
                display: none;
            }
        }
    }

    // Common to both List and Grid View
        .mz-productlisting-image {
            position: relative;
            button.quick-view-btn {
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                opacity: 0.9;
                text-transform: uppercase;
                width: 100%;
                display: none;
                border:0;
                span {
                    opacity: 1;
                    font-size: @fontSize;
                    text-align: center;
                    line-height: normal;
                    color: @colorGray;
                }
            }
            &:hover {
                button.quick-view-btn {
                    display: block;
                }
            }
        }
    // Product Directory
    .mz-productlist {

        //List View
        .list-view{
            .product-image-swatch-wrapper {
                max-width: 265px;
                img,
                .mz-productlisting-image{
                    img,
                    .mz-productlisting-imageplaceholder {
                        max-height: 265px;
                        >.mz-productlisting-imageplaceholdertext {
                            line-height: 265px;
                        }
                    }
                }
            }
            li.mz-productlist-item{
                min-height: 320px;
            }
            .ml-product-info-wrapper,
            .ml-product-price-wrapper{
                display: block;
                float: left;
            }
        }
        // Common to both List and Grid View
        .mz-productlisting-image {
            position: relative;
            button.quick-view-btn {
                left: 0;
                right: 0;
                bottom: 0;
                height: 30px;
                position: absolute;
                opacity: 0.9;
                text-transform: uppercase;
                width: 100%;
                display: none;
                border: 0;
                span {
                    opacity: 1;
                    font-size: @fontSize;
                    text-align: center;
                    line-height: normal;
                    color: @colorGray;
                }
            }
            &:hover {
                button.quick-view-btn {
                    display: block;
                }
            }
        }
        .bxslider{
            li{
                margin-right: 0 !important;
                .price-msrp{
                    display: none;
                }
                .mz-favorites {
                    color: #85acce;
                    font-weight: 100;
                    font-family: 'icomoon';
                    font-size:1.7rem;
                    text-decoration: none;
                    cursor: pointer;
                    border: none;
                    .heart-filled:before{
                        content: "\e910";
                    }
                    .heart-outline:before{
                        content: "\e90f";
                    }
                }
                .mz-productlisting-title{
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .primary-btn{
                    color: #4e5458;
                    letter-spacing: 0.14em;
                    border: 0.1875rem solid #4e5458;
                    height: 3rem;
                    line-height: 1.5rem;
                    font-size: 0.9rem;
                    &:hover{
                        background: #4e5458;
                        text-decoration: none;
                        color: #fff;
                    }
                }
                .mz-price{
                    font-size: 1rem;
                    margin-bottom: 1.6rem;
                }
                .mz-productlisting-title{
                    font-size: 1.25rem;
                    text-decoration: none;
                    &:hover{
                        color: @charcoal;
                    }
                }
                .mz-pagesubtitle{
                    font-size: 1rem;
                }
            }
        }
    }
    .mz-productdetail{
        .mz-price{
            font-size: @fontSizeLarge + 10px;
        }
    }
    .mz-productdetail-wrap {
        #product-detail{
            .mz-l-stack-section{
                &.mz-productdetail-price {
                    margin-top: 20px;
                }
            }
            .email-popup{
                #mz-drop-zone-email-notification{
                    .mz-cms-content{
                        .mz-instock-request {
                            .modal-body {
                                button {
                                    line-height: 19px;
                                    margin-top: -3px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //Category Page
     .ml-product-swatch {
        .mz-morecolor-container{
            clear: none;
        }
        ul{
            padding: 0 10px;
            li {
                margin-right: 8px;
                margin-bottom: 8px;
            }
        }
     }
     .mz-category{
         .mz-pagingcontrols{
             display: block;
         }
     }
     .mz-l-carousel {
        .bx-wrapper {
            max-width: ({{themeSettings.productCarouselImageWidth}}px+40)*{{themeSettings.productCarouselSize}}!important;
        }
        ul#product-carousel-list {
            li {
                margin: 10px 19px!important;
            }
        }
    }
}
