#page-wrapper #page-content #free-samples-category {
  margin: 3rem auto;

  .message {
    .h3;
    text-align: center;
  }

  .mz-productlisting-info {
    min-height: 3em;
  }

  .add-to-sample-container {
    .added-message {
      font-style: italic;
      .pdp2;
    }
    .primary-btn {
      padding: 0;
      width: 100%;
    }
  }

  @media (max-width: 992px) {
  }

}
