.mz-pagefooter {
  background: #edeeee;
  padding: 10px 20px;
  overflow: hidden;

  .mz-pagefooter-copyright {
      padding: 15px 0;
      text-align: center;
      color: white;
      line-height: 130%;
      a {
          color: white
      }
  }
}

footer {
  background: #edeeee;

  .footer-column {
    h2 {
      .h5();
      text-transform: uppercase;
    }

    ul {
      padding: 0;

      li {
        .p5();
      }
    }
  }
}
