.mz-sitenav {
    @navHeight: 37px;
    width: 100%;
    height: @navHeight;
    overflow: visible;height: @navHeight;
    .clearfix();

    
    > .mz-sitenav-list {
        display: table-row;
        > .mz-sitenav-item:first-child {
            padding-left: @gutter * .75;
        }
    }

    .mz-sitenav-list {
        position: relative;
    }
    .mz-sitenav-item {
        // to remove space gap
        font-size: 0.1px;
        z-index: 3;

        /*.mz-sitenav-item-inner {
            position: relative;
        }
        */
        &:hover .mz-sitenav-sub-container {
            visibility: visible;
            .transition-delay(0s);
            .sub-level-col {
                float: none;
                display: block;
                text-align: left;
                h2{
                    font-size: 18px;
                    margin-top: 0px;
                }
            }
        }
    }

    .mz-sitenav-sub-container {
        background: #666;
        top: @navHeight - 1;
        position: absolute;
        z-index: 1;
        visibility: hidden;

        .mega-menu-image{
            display: none;
        }

        > .mz-sitenav-item {


            .mz-sitenav-link {
                height: 0px;
                opacity: 0;
                padding: 0;
                display: block;
                white-space: nowrap;
            }
        }
    }

    .mz-sitenav-item:hover > .mz-sitenav-link, .mz-sitenav-link.is-current {
        background-color: #eee;
        color: @textColor;
        &:visited {
            color: @textColor;
        }
    }

    .mz-sitenav-item:hover .mz-sitenav-sub .mz-sitenav-link {
        height: 20px;
        padding: 10px @gutter*.75;
        opacity: 1;
    }

    .mz-sitenav-link {
        text-decoration: none;
        display: inline-block;
        font-size: @fontSize;
        position: relative;
    }

    @media only screen {
        @media (max-width: 800px) {
            height: 100%;
            > .mz-sitenav-list {
                display: block;
            }
            .mz-sitenav-item {
                display: inline-block;
            }
            .mz-sitenav-item-more {
                display: none;
            }
        }
    }
}


.mz-sitenav {
    background: @white;
    .close-menu {
        display: none;
    }
    .commerce-enabled-true & {
        .user-login {
            display: none;                                    
        }
    }
    .container {
        padding: 0;
    }
    .mz-sitenav-sub-container{
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        top: 5rem;
        left: 0;
        right: 0;
        padding: 0 15px 15px 15px;
        border: 1px solid rgba(0,0,0,0.15);
        background: white;
        z-index: 2020;
        border-radius: 3px;
        -webkit-transition: visibility 0s ease-out 0s;
        -moz-transition: visibility 0s ease-out 0s;
        -ms-transition: visibility 0s ease-out 0s;
        -o-transition: visibility 0s ease-out 0s;
        .mz-sitenav-link {
            padding: 2px 0;
        }
        a{
            font-weight: normal;
        }
    }
    .mz-sitenav-item {
        float: none;
        display: block;
        .mz-sitenav-link{
            text-transform: uppercase;
        }
        &.mz-sitenav-item-more {
            display: none;
        }
        &:hover {
            .mz-sitenav-link {
                background-color: inherit;
            }
            .mz-sitenav-sub {
                .mz-sitenav-link {
                    height: auto;
                    padding: 0;
                }
            }
            .arrow-up {
                display: none;
                z-index: 2030;
                position: absolute;
                top: 16px;
                left: 50%;
                margin-left: -20px;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 10px;
                content: "";
                border-bottom-color: rgba(0, 0, 0, 0.25);
                &:after {
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 10px;
                    content: " ";
                    top: 1px;
                    margin-left: -10px;
                    border-top-width: 0;
                    border-bottom-color: #fff;
                }
            }
        }
        .mz-sitenav-sub{
            -webkit-box-shadow: none;
            box-shadow: none;
            padding:0;
            border:0;
            border-radius: 0;
        }
    }
    .mz-sitenav-link {
        font-size: 1.5rem;
        color: @charcoal;
        font-weight: bold;
        &:visited {
            color: @charcoal;
        }
        &.is-current {
            background-color: inherit;
        }
    }
    .ml-navbar-separator {
        display: none;
    }
    .mz-sitenav-sub {
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        top: 35px;
        left: -12px;
        padding: 20px 20px 0 0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: white;
        z-index: 2020;
        border-radius: 3px;
        &>.mz-sitenav-item {
            padding: 0 20px 10px 0px;
            font-size: 13px;
            color: #000000;
            .mz-sitenav-link {
                font-size: 13px;
            }
            width: 100%;

            .mz-sitenav-sub-sub {
                .mz-sitenav-item {
                    display: block;
                    float: none;
                    width: 100%;
                    .mz-sitenav-link {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.sticky-nav{
    .mz-sitenav.collapse:not(.in) {
        .mz-sitenav-list{
            .mz-sitenav-item{
                >.mz-sitenav-item-inner>.mz-sitenav-link{
                    height: 3rem;
                    .commerce-enabled-true & {
                        height: unset;
                    }
                }
            }
        }
        .mz-sitenav-sub-container{
            top: 3rem;
        }
    }
}


@media (max-width: 991px) {
    .mz-sitenav, .ml-navbar-secondary {
        &.collapsing{
            -webkit-transition: none;
            transition: none;
            display: none;
        }
        .close-menu{
            display: block;
            font-size: 3rem;
            line-height: 5rem;
            a{
                .icon(before, @icon-close);
                text-decoration: none;
                padding-left: 1rem;
                span{
                    display: none;
                }
            }
        }
        .commerce-enabled-true & {
            .user-login {
                padding-bottom: 1rem;
                padding-left: 4.375rem;
                line-height: 3.5rem;
                display: block;
                width: 100%;
                .icon-user {
                    .icon(before, @icon-user);
                    font-size: 2.5rem;
                    float: left;
                }
                .login-link-text, #mz-logged-in-notice #my-account {
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                    color: #4e5458;
                    font-size: 1.5rem;
                    line-height: 2.5;
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: bold;
                    margin-left: 1rem;
                    span {
                        font-weight: normal;
                    }
                }
                #mz-logged-in-notice #my-account {
                    margin-left: 0;
                    .icon-user {
                        padding-right: 1rem;
                    }
                }                            
            }
        }
        .mz-sitenav-list{
            >.mz-sitenav-item{
                border-top: 1px solid @lightGray;
                border-bottom: none;
                padding: 0;
                >.mz-sitenav-item-inner{
                    >.mz-sitenav-link{
                        font-size: 1rem;
                        padding-left: 4.375rem;
                        font-weight: @fontWeightBook;
                    }
                    .mz-sitenav-link{
                        line-height: 3.5rem;
                        width: 100%;
                        letter-spacing: .14rem;
                        padding-right: 6.6rem;
                        &.selected{
                            background-color: @lightGray;
                        }
                        i{
                            .icon(before, @icon-keyboard_arrow_down);
                            position: absolute;
                            right: 4.375rem;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 2.5rem;
                        }
                        i.go-to-action{
                            .icon(before, @icon-keyboard_arrow_right);
                        }
                    }
                    .expand-mobile-menu{
                        max-height: 1000px;
                        visibility: visible;
                    }
                    .mz-sitenav-sub-container{
                        position: relative;
                        display: block;
                        max-height: 0;
                        padding: 0;
                        overflow: hidden;
                        //transition: max-height 0.5s ease-in;
                        top: 0;
                        left: 0!important;
                        box-shadow: none;
                        border: none;
                        .container-mega-menu{
                            margin: 0;
                        }
                        .mz-sitenav-link{
                            text-decoration: underline;
                            text-decoration-color: @lightGray;
                        }
                        .sub-level-li{
                            >.mz-sitenav-link{
                                padding-left: 7.5rem;
                            }
                            border-bottom: 0;
                            .sub-level-li-children{
                                max-height: 0;
                                overflow: hidden;
                            }
                            .sub-sub-level-li{
                                border-bottom: none;
                                >.mz-sitenav-link{
                                    padding-left: 10.625rem;
                                    &:focus, &:hover{
                                        background-color: @mutedBlue;
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(1), &:nth-of-type(6){
                    border-top:none;
                }
                &:nth-of-type(5){
                    padding-bottom: 3rem;
                }
                &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
                    >.mz-sitenav-item-inner{
                        >.mz-sitenav-link {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    .mz-sitenav{
        height: auto;
        z-index: 2150;
        position: absolute;
        top: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
        width: 90%;
        border: 1px solid @charcoal;
    }
    .ml-navbar-secondary {
        position: relative;
        background-color: @white;
        .secondary-title{
            font-size: 2rem;
            font-weight: 600;
            border-bottom: 1px solid #efefef;
            padding: 1rem 3rem;
        }

        .mz-sitenav-link{
            font-size: 1.5rem;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            position: relative;
            &:visited {
                color: @charcoal;
            }
            &:hover {
                color: @mutedBlue;
            }
        }

        .mz-sitenav-list {
            > .mz-sitenav-item {
                > .mz-sitenav-item-inner {
                    > .mz-sitenav-link {
                        padding-left: 3rem;
                    }
                }
                &:nth-of-type(9){
                    padding-bottom: 0;
                }
                .sub-level-li {
                    > .mz-sitenav-link {
                        padding-left: 6rem!important;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .mz-sitenav{
    }
}

@media (min-width: 992px) {

    //login popup
    #liteRegistrationModal{
        .commerce-enabled-true & {
            .modal-dialog.login-modal{
                left: unset !important;
                .modal-content{
                    .modal-body {
                        padding: 0 2rem;
                        .link-button {
                            width: 53%;
                        }
                        .input-group {
                            width: 53%;
                        }
                        .nav-tabs {
                            margin: 0 auto 3rem;
                            width: 86%;
                        }
                        li.first-tab {
                            padding-right: 2%;
                        }
                        li.second-tab {
                            padding-left: 2%;
                        }
                        li .btn {
                            font-size: 2rem;
                            padding-bottom: 10px 15px 4px 15px;
                        }
                        .login-btn-row {
                            width: 34%;
                        }
                        .checkbox {
                            width: 53%;
                        }
                    }
                }
            }
        }
    }

  #nav-header-container{
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 2010;
      border-bottom: 1px solid #e0e0e0;
      background-color: #ffffff;

      .mz-pageheader {
          .ml-header-content {
                .commerce-enabled-true & {
                    .flex-display(flex);
                    .flex-direction(row-reverse);
                }
              .ml-header-search-wrapper {
                  font-size: 2.5rem;
                  right: 12%;
                  top: 46%;
                  .commerce-enabled-true & {
                    right: unset;
                    position: relative;
                    left: unset;
                    .flex-display(flex);
                    height: 1rem;
                    .flex-order(2);
                    margin-right: 2rem;
                    top: 30%;
                      span {
                        text-transform: uppercase;
                        padding-left: 3.5rem;
                        font-size: 1rem;
                        display: inline-block;
                        font-weight: bold;
                    }
                }
              }
            .commerce-enabled-true & {
              .site-link {
                top: 25%;
                position: absolute;
                left: 1.7rem;
                display: block;
                a {
                    text-decoration: none;
                    font-weight: bold;
                }
                .flag {
                    background: url(../resources/images/canadian_flag.svg) no-repeat bottom center;
                    width: 26px;
                    height: 14px;
                    display: inline-block;
                    margin-left: 10px;
                }
              }
            }

              .ml-header-global-cart-wrapper {
                  position: absolute;
                  top: auto;
                  right: 2px;
                  bottom: 15px;
                  left: auto;
                  background: inherit;
                  border: 0;
                  padding: 2px 0 5px 5px;
                  .commerce-enabled-true & {
                    bottom: -2.5rem;
                    right: 1.7rem;
                    padding: 0;
                    transform: none;
                    .ml-header-global-cart-text {
                        margin-left: 4.5rem;
                        text-transform: uppercase;
                        font-size: 1rem;
                    }
                    .ml-header-global-cart-count {
                        position: absolute;
                        margin-top: -10px;
                        left: 2.5rem;
                        padding: 0 6px;
                        .mz-cartmonitor {
                            font-size: 1rem;
                            font-weight: normal;
                        }
                        @media (min-width: 1901px) {
                            .mz-cartmonitor {
                                font-size: .8rem;
                            }
                        }        
                    }
                    .icon-cart {
                        position: absolute;
                        font-size: 2.5rem;
                    }
                    .ml-header-global-cart-text {
                        display: block;
                    }
                  }
                .ml-header-global-cart-label {
                      display: inline-block;
                      font-weight: bold;
                      padding-bottom: 5px;
                }
              }

              .ml-header-links-wrapper {
                .commerce-enabled-true & {
                        .flex-order(1);
                        height: 1rem;
                        position: relative;
                        top: 19%;
                    }
                  .mz-utilitynav-item{
                      padding: 0 0px 0 15px;
                      &.site-msg{
                          display:inherit;
                      }
                      &.navbar-collapse-control{
                          display: none;
                      }
                      .popover{
                          top: -10px;
                          .popover-content{
                              .my-account-details{
                                  a{
                                      p {display: block; 
                                        .commerce-enabled-true & {
                                            display: none;
                                        }
                                    }
                                  }
                              }
                          }
                      }
                      &.store-locator{
                        .commerce-enabled-true & {
                            display: none;
                        }
                        i {
                            font-size: 3.3rem;
                          }
                      }
                     .commerce-enabled-true & {
                        &.user-login {
                            top: unset;
                            position: relative;
                            right: unset;
                            display: inline-block;
                            .icon-user {
                                .icon(before, @icon-user);
                                font-size: 2.3rem;
                                float: left;
                            }
                            .login-link-text {
                                text-transform: uppercase;
                                color: #4e5458;
                                font-size: 1rem;
                                line-height: 2.5;
                                display: inline-block;
                                vertical-align: middle;
                                font-weight: bold;
                                margin-left: 1rem;
                                span {
                                    font-weight: normal;
                                }
                            }                            
                        }
                        #mz-logged-in-notice {
                            .icon-user {
                                padding-right: 1rem;
                            }
                            #my-account {
                                text-transform: uppercase;
                                color: #4e5458;
                                font-size: 1rem;
                                line-height: 2.5;
                                display: inline-block;
                                vertical-align: middle;
                                font-weight: bold;
                                margin-left: 0;
                            }
                        }
                        #my-account-content {
                            position: absolute;
                            .box-shadow(0 6px 12px rgba(0,0,0,0.175));
                            top: 35px;
                            right: 0;
                            width: auto;
                            padding: 1rem;
                            border: 1px solid rgba(0,0,0,0.15);
                            background: white;
                            z-index: 2;
                            border-radius: 3px;
                            h4 {
                                font-size: 1rem;
                                text-transform: uppercase;
                            }
                            p {
                                display: none;
                            }
                        }
                    }
                  }
              }
              .ml-header-lang-wrapper {
                  right: 1%;
                  top: 4rem;
                  .dropdown-select{
                      font-size: 13px;
                  }
                  .dropdown-select-list{
                      li{
                          font-size: 13px;
                      }
                  }
              }

          }
      }

      .commerce-enabled-false & {
        &.sticky-nav {
          .mz-pageheader {
              .ml-header-content {
                  .ml-header-logo-wrapper {
                      .logo {
                          height: 2.3rem;
                          width: 20rem;
                          &:after {
                              content: '';
                          }
                      }
                  }
                  .ml-header-lang-wrapper{
                      top:2.5rem;
                  }
              }
          }
          .mz-sitenav {
              top: 2rem;
          }
        }
      }
      .mz-sitenav {

          display: block;
          
            .commerce-enabled-true & {
                @navHeight: 3.75rem;
                height: @navHeight;
            }

          // tuck in menu items to left and right of the logo
          .commerce-enabled-false & {
            position: fixed;
            top: 3.5rem;
            height: 34px!important;
            background: transparent;
            border-bottom: none;
          }

          .mz-sitenav-sub-container{
              display: block;
              .sub-level-image, .sub-level-col {
                  h2{
                      font-size: 18px;
                      margin-top: 0px;
                  }
                  a{
                      font-weight: normal;
                  }
              }
              .mz-sitenav-link {
                  padding: 2px 0;
                  &:hover {
                      color: @mutedBlue!important;
                  }
              }
              .mega-menu-image{
                  width: 38%;
                  display: inline-block;
                  margin-top: 2rem;
                  float: right;
                  img{
                      width: 100%;
                  }
              }
          }

          .container-mega-menu{
              width: 88%;
              margin-left: 8%;
          }

          .mz-sitenav-item {
              float: left;
              white-space: nowrap;
              display: inline-block;
              padding: 0;
              border-bottom: 0;
              line-height: 0;
              &.sub-level-li{
                  line-height: 2rem;
                  float: none;
                  text-align: left;
                  vertical-align: top;
                  margin-top: 2rem;
                  width: 20%;
                  >.mz-sitenav-link{
                      font-weight: bold;
                      font-size: 1.2rem;
                  }
                  .mz-sitenav-link{
                      text-align: left;
                  }
                  .sub-sub-level-li{
                      display: block;
                      float: none;
                      line-height: 2rem;
                      >.mz-sitenav-link{
                          text-transform: initial;
                          font-size: 1.2rem;
                      }
                  }
              }
              &.mz-sitenav-item-more{
                  display:block;
              }
              &:hover{
                  .arrow-up {
                      display:block;
                  }
              }
              .mz-sitenav-item {
                  >.mz-sitenav-link{
                      text-transform: uppercase;
                  }
              }
          }
          .mz-sitenav-link {
              float: none;
              font-size: 13px;
              padding: 8px 0;
              color: @charcoal;
              font-weight: bold;
              .commerce-enabled-true & {
                    font-size: 1rem;
                    height: 2.4rem;
                    padding: 8px 0 0 0;
                }
              &:visited {
                  color: @charcoal;
              }
              &.is-current {
                  background-color: inherit;
              }
          }
          .commerce-enabled-true & {
            .mz-sitenav-sub-container {
                    display: block;
                }
            }

          .mz-sitenav-list {
              >.mz-sitenav-item {
                  display: inline-block;
                  text-transform: uppercase;

                  >.mz-sitenav-item-inner>.mz-sitenav-link{
                      .commerce-enabled-false & {
                        height: 6rem;
                      }
                      cursor: pointer;
                      &:hover::before{
                          content: " ";
                          border-bottom: 2px solid @charcoal;
                          width: 100%;
                          height: 1rem;
                          position: absolute;
                      }
                  }

                  text-align: center;
                  width: 13%;

                  // position elements around logo when commerce-enabled-false
                  .commerce-enabled-false & {
                    &:nth-of-type(1) {
                        margin-left: 5%;
                        margin-right: 3%;
                    }
                    &:nth-of-type(2) {
                        margin-right: 26.5%;
                    }
                    &:nth-of-type(3) {
                    }
                    &:nth-of-type(4) {
                        width: 10%;
                    }
                  }

                  // position elements around logo when commerce-enabled-false
                  .commerce-enabled-true & {
                    margin-top: 1.5rem;
                    &:nth-of-type(1) {
                        margin-left: 22%;
                    }
                    &:nth-of-type(4) {
                        margin-right: 22%;
                    }
                  }

                  // show only 4 items in the nav.
                  &:nth-of-type(n+5) {
                    display: none;
                  }
              }
          }
      }
  }

  // height of nav and margin top of page change together
  .commerce-enabled-false {
    #nav-header-container.sticky-nav {
      .mz-pageheader {
        height: 5.8rem;
        .ml-header-content {
          height: 5.8rem;
        }
      }
    }

    #page-content{
        margin-top: 9rem;
        &.sticky-nav-present{
            margin-top: 5.8rem;
        }
    }
  }

  .commerce-enabled-true {
    #nav-header-container.sticky-nav {
      .mz-pageheader {
        height: 9rem;
        .ml-header-content {
          height: 9rem;
        }
      }
    }

    #page-content{
        margin-top: 12.9rem;
        &.sticky-nav-present{
            margin-top: 12.9rem;
        }
    }
  }
}
